html,
body {
    margin: 0;
    height: 100%;
}

* {
    font-family: "Pretendard", sans-serif !important;
    font-weight: 500;
}

a {
    color: inherit;
    text-decoration: none;

}

/* 반응형 */
/* desktop mode */
@media only screen and (min-width: 1024px) {
    .app {
        margin: 0 0 0 48%;
    }
}

/* mobile mode */
@media only screen and (max-width: 1023px) {
    .app {
        margin: 0 auto;
    }
}

